$backgroundBlocks: #ffffff;
$fontFamily: "Open Sans", serif;
$backgroundColor: #F3F7FA;
$fontSize: 12px;
$importantColor: #2196F3;
$notImportantColor: #9ABBCE;
$coverColor: #A0B0B9;
$lineColor: #DFE5EC;
$borderRadius: 5px;
$boxShadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1 );
$logoWidth: 60px;
$layoutBreakpoint: 850px;
$layoutBreakpointLarge: 1125px;
$filterHoverColor: #F1FCFF;
