@import "../../../public/scss/font.scss";
@import "../../../public/scss/variables.scss";
@import-normalize;

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-weight: 300;
   font-family: $fontFamily;
   font-size: $fontSize;
}
body {
   width: 100%;
   height: 100vh;
}
.app {
   width: 100%;
   min-height: 100vh;
   padding: 5%;
   height: auto;
   background-color: $backgroundColor;
   display: flex;
   flex-wrap: wrap;
   gap: 0;
   font-size: $fontSize;
   @media (min-width: $layoutBreakpoint) {
      gap: 20px;
      padding: 30px 10%;
   }
   @media (min-width: $layoutBreakpointLarge) {
      padding: 30px 20%;
   }
}
.app-active {
   background-color: blue !important;
}