.loadMore {
  width: 100%;
  height: 60px;
  background-color: #2196F3;
  border: none;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}
.loadMore span {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 20.6px 0 20.6px 0;
}
.loadMore :hover {
  background-color: #9ABBCE;
  border-radius: 5px;
}